/*
p{
    display: inline;
    font-size: 2em;
    color: #fff;
    width: 600px;
    margin-top: 40px;
}

p:nth-child(odd){
    background-color: blue;    
}
p:nth-child(even){
 background-color: orange;   
}

p:nth-child(1n+3){
    display: block;
}
*/

a{  display: inline-block;
    width: 200px;
    height: 200px;
    background-color: orange;
    font-size: 1.2em;
    margin: 5px;
    text-align: center;
    line-height: 200px; /* wysrodkowuje tekst pionowo (trik) */    
}

img{
    float: right;
}



/*wylaczanie floatingu dziala dla p ktore jest trzecim dzieckiem czyli w tym przypadku drugie pe*/
p:nth-child(3){
    clear: both;
}

#kotek {
    height: 100px;
    width: 100px;
    float: none;
    margin-bottom: 360px;
    display: inline-block;
/*
    transition-property: all; mozna wybrac samą wysokosc lub szerokosc 
    transition-duration: 5s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
*/
/*    transition: all .8s ease 1s;  pierwsze dwie wartosci sa obowiazkowe */
    transition: width 5s linear 0.5s, height 2s linear 0.5s;
}

#kotek:hover{
    height: 200px;
    width: 200px;
    
}